<?xml version="1.0"?>
<!--  
        This section is critical to boot LWAS properly.
        Do not change this file unless you know what you're doing
  -->
<StartUpSection>
  <startUps>
    <component name="PersonalizationStorage.Instance" type="LWAS.Infrastructure.Personalization.PersonalizationStorage, LWAS" member="Instance"/>
    <component name="Authenticator.Instance" type="LWAS.Infrastructure.Security.Authenticator, LWAS" member="Instance"/>
    <component name="RoleManager.Instance" type="LWAS.Infrastructure.Security.RoleManager, LWAS" member="Instance"/>
    <component name="AccessVerifier.Instance" type="LWAS.Infrastructure.Security.AccessVerifier, LWAS" member="Instance"/>
    <component name="ControlFactory.Instance" type="LWAS.WebParts.Templating.ControlFactory, LWAS" member="Instance"/>
    <component name="InMemoryStorage.Instance" type="LWAS.Infrastructure.Storage.InMemoryStorage, LWAS" member="Instance"/>
  </startUps>
</StartUpSection>