<?xml version="1.0"?>
<appSettings>
  <!-- 
        Switch DESIGN setting to True to have LWAS automatically creating a default configuration file 
          for each new SCREEN requested through QueryString
        Granted the ASP.NET has write permissions to the location of the .aspx file invoked
  -->
  <add key="DESIGN" value="False"/>

  <!-- 
        Switch DISABLE_MONITOR setting to through to stop the system to dump the workflow log
        Change MONITOR_LOG_SIZE to how many log files to keep before starting over. 
        Log files are created on every LWAS enabled page request
  -->
  <add key="DISABLE_MONITOR" value="False"/>
  <add key="MONITOR_LOG_SIZE" value="5"/>

  <!-- 
        You may store services configuration file in a different location by changing the paths bellow
        Useful when you want to share those configurations across multiple applications
        Please note all paths must be relative to the application root, i.e. resolvable by MapPath() method
  -->
  <!--  Users and hashes of their passwords are stored in this file -->
  <add key="USERS" value="~/App_Data/config/users.xml"/>
  <!--  Use the ROLES file to group access-to-screens rules -->
  <add key="ROLES" value="~/App_Data/config/roles.xml"/>
  <!--  Use ACCESS to tell the system which roles are granted access to what screens -->
  <add key="ACCESS" value="~/App_Data/config/access.xml"/>
  <!--  The USER_DATA is a local storage. The location must be writtable by ASP.NET account -->
  <add key="USER_DATA" value="~/App_Data/user"/>
  <!--  The MONITOR_REPO is where the log files are written. The location must be writtable by ASP.NET account -->
  <add key="MONITOR_REPO" value="~/App_Data/monitor/"/>
  <!--  This is where controls like Label, Text etc. are defined along with their configurable properties and defaults -->
  <add key="CONTROL_TYPES" value="~/App_Data/config/controls.xml"/>
  <!--  This file is used by SqlDataBridgeWebPart as a dictionary of Sql Server connection strings -->
  <add key="CONNECTIONS_FILE" value="~/App_Data/config/connections.xml"/>
  <!--  Dynamic webpart zones are defined here -->
  <add key="ZONES_CONFIG" value="~/App_Data/config/zones.xml"/>
  <!--  This is where the database tables, relations and views are stored -->
  <add key="VIEWS_CONFIG" value="~/App_Data/config/views.xml"/>
  <!--  This is a sitemap of LWAS screens -->
  <add key="ROUTES_CONFIG" value="~/App_Data/config/routes.xml"/>

  <!-- 
        You may change the default authorization service provider if you need to implement your own authorization logic
  -->
  <add key="AUTHORIZER" value="LWAS.Infrastructure.Security.Authorizer, LWAS"/>

  <!-- 
        The setting of the super role is not currently used consistently across all extensions
        Best to avoid changing these
  -->
  <add key="SUPER_ROLE" value="admin"/>
  <add key="SUPER_ROLE_MAIL" value=""/>

  <!-- 
        The SCREEN setting tells the system what QueryString key to use to identity screen configuration
        This is not currently used consistently across all extensions
        Best to avoid changing this
  -->
  <add key="SCREEN" value="screen"/>

  <!-- 
        This is the IoC container
        Uses the Initializer and Startups Web.config sections
  -->
  <add key="DRIVER" value="LWAS.Drivers.Initializer, LWAS"/>
  
  <!-- 
		LWAS.Developer keys 
  -->
	<add key="AUTHORIZER" value="LWAS.Infrastructure.Security.Authorizer, LWAS"/>
	<add key="USERS" value="~/App_Data/config/users.xml"/>
	<add key="ROLES" value="~/App_Data/config/roles.xml"/>
	<add key="ACCESS" value="~/App_Data/config/access.xml"/>
	<add key="SUPER_ROLE" value="admin"/>
	<add key="SUPER_ROLE_MAIL" value=""/>
	<add key="USER_DATA" value="~/App_Data/user"/>
	<add key="DISABLE_MONITOR" value="False"/>
	<add key="MONITOR_LOG_SIZE" value="5"/>
	<add key="MONITOR_REPO" value="~/App_Data/monitor/"/>
	<add key="CONTROL_TYPES" value="~/App_Data/config/controls.xml"/>
	<add key="CONNECTIONS_FILE" value="~/App_Data/config/connections.xml"/>
	<add key="UPLOADS_REPO" value="~/App_Data/uploads/"/>
	<add key="MAIL_TEMPLATES" value="~/App_Data/templates/mail/"/>
	<add key="DOCX_TEMPLATES" value="~/App_Data/templates/office/"/>
	<add key="MAIL_SENDER_ADDRESS" value="" />
	<add key="MAIL_SENDER_NAME" value="" />
	<add key="MAIL_SENDER_PASSWORD" value="" />
	<add key="MAIL_SERVER_ADDRESS" value="" />
	<add key="MAIL_SERVER_PORT" value="" />
	<add key="MAIL_USE_ISS_SMTP" value="False" />
	<add key="ZONES_CONFIG" value="~/App_Data/config/zones.xml"/>
	<add key="VIEWS_CONFIG" value="~/App_Data/config/views.xml"/>
	<add key="ROUTES_CONFIG" value="~/App_Data/config/routes.xml"/>
    <!-- 
		  We need aspnet:MaxHttpCollectionKeys greater than default (1000) to prevent the IIS 500 error:
		  "The URL-encoded form data is not valid"
	-->
    <add key="aspnet:MaxHttpCollectionKeys" value="10000" />
    <add key="EXCEL_TEMPLATES" value="~/App_Data/templates/office/excel/"/>
    <add key="SETTINGS_FILE" value="~/App_Data/config/settings.xml"/>

</appSettings>