<?xml version="1.0"?>
<!--  
        This is LWAS own IoC service manifest file.
        Do not change this file unless you know what you're doing
  -->
<InitializerSection>
    <components>
        <component name="LWAS.Infrastructure.Manager" type="LWAS.Infrastructure.Manager, LWAS">
            <providers>
                <component name="Monitor" type="LWAS.Infrastructure.Monitoring.Monitor, LWAS"/>
                <component name="ExpressionsManager" type="LWAS.Expressions.ExpressionsManager, LWAS"/>
                <component name="ZonesProvider" type="LWAS.WebParts.Zones.DynamicZonesProvider, LWAS"/>
                <component name="RoutingManager" type="LWAS.Infrastructure.Routing.RoutingManager, LWAS"/>
            </providers>
        </component>
        <component name="LWAS.Infrastructure.Personalization.PersonalizationStorage" type="LWAS.Infrastructure.Personalization.PersonalizationStorage, LWAS">
            <providers>
                <component name="Agent" type="LWAS.Infrastructure.Storage.FileAgent, LWAS"/>
            </providers>
        </component>
        <component name="LWAS.Infrastructure.Security.Authenticator" type="LWAS.Infrastructure.Security.Authenticator, LWAS">
            <providers>
                <component name="Agent" type="LWAS.Infrastructure.Storage.FileAgent, LWAS"/>
            </providers>
        </component>
        <component name="LWAS.Infrastructure.Security.RoleManager" type="LWAS.Infrastructure.Security.RoleManager, LWAS">
            <providers>
                <component name="Agent" type="LWAS.Infrastructure.Storage.FileAgent, LWAS"/>
            </providers>
        </component>
      <component name="LWAS.Infrastructure.Security.AccessVerifier" type="LWAS.Infrastructure.Security.AccessVerifier, LWAS">
        <providers>
          <component name="Agent" type="LWAS.Infrastructure.Storage.FileAgent, LWAS"/>
        </providers>
      </component>
      <component name="LWAS.Infrastructure.Security.SiteAccessVerifier" type="LWAS.Infrastructure.Security.SiteAccessVerifier, LWAS">
        <providers>
          <component name="Agent" type="LWAS.Infrastructure.Storage.FileAgent, LWAS"/>
        </providers>
      </component>
      <component name="LWAS.Infrastructure.Security.DeveloperAccessVerifier" type="LWAS.Infrastructure.Security.DeveloperAccessVerifier, LWAS">
        <providers>
          <component name="Agent" type="LWAS.Infrastructure.Storage.FileAgent, LWAS"/>
        </providers>
      </component>
      <component name="LWAS.WebParts.Zones.DynamicZonesProvider" type="LWAS.WebParts.Zones.DynamicZonesProvider, LWAS">
        <providers>
          <component name="Agent" type="LWAS.Infrastructure.Storage.FileAgent, LWAS"/>
        </providers>
      </component>
      <component name="LWAS.WebParts.BreadcrumbWebPart" type="LWAS.WebParts.BreadcrumbWebPart, LWAS">
        <providers>
          <component name="Agent" type="LWAS.Infrastructure.Storage.FileAgent, LWAS"/>
          <component name="Monitor" type="LWAS.Infrastructure.Monitoring.Monitor, LWAS"/>
        </providers>
      </component>

        <component name="LWAS.WebParts.Templating.ControlFactory" type="LWAS.WebParts.Templating.ControlFactory, LWAS">
            <providers>
                <component name="Agent" type="LWAS.Infrastructure.Storage.FileAgent, LWAS"/>
                <component name="Monitor" type="LWAS.Infrastructure.Monitoring.Monitor, LWAS"/>
            </providers>
        </component>
        <component name="LWAS.WebParts.FormViewWebPart" type="LWAS.WebParts.FormViewWebPart, LWAS">
            <providers>
                <component name="Configuration" setOnlyWhenNull="true" type="LWAS.WebParts.ContainerEmptyConfiguration, LWAS" member="ConfigurationProvider"/>
                <component name="ConfigurationParser" type="LWAS.WebParts.Parsers.ContainerConfigurationParser, LWAS"/>
                <component name="Binder" type="LWAS.WebParts.DataBinding.Binder, LWAS"/>
                <component name="Template" type="LWAS.WebParts.Templating.TemplatingProvider, LWAS"/>
                <component name="ValidationManager" type="LWAS.WebParts.Validation.ValidationManager, LWAS"/>
                <component name="ExpressionsManager" type="LWAS.Expressions.ExpressionsManager, LWAS"/>
                <component name="Items" type="LWAS.WebParts.Templating.TemplatingItemsCollection, LWAS"/>
                <component name="FilterItems" type="LWAS.WebParts.Templating.TemplatingItemsCollection, LWAS"/>
                <component name="Translator" type="LWAS.Infrastructure.Translation.Translator, LWAS"/>
                <component name="Monitor" type="LWAS.Infrastructure.Monitoring.Monitor, LWAS"/>
            </providers>
        </component>
        <component name="LWAS.WebParts.GridViewWebPart" type="LWAS.WebParts.GridViewWebPart, LWAS">
            <providers>
                <component name="Configuration" setOnlyWhenNull="true" type="LWAS.WebParts.ContainerEmptyConfiguration, LWAS" member="ConfigurationProvider"/>
                <component name="ConfigurationParser" type="LWAS.WebParts.Parsers.ContainerConfigurationParser, LWAS"/>
                <component name="Binder" type="LWAS.WebParts.DataBinding.Binder, LWAS"/>
                <component name="Template" type="LWAS.WebParts.Templating.TemplatingProvider, LWAS"/>
                <component name="ValidationManager" type="LWAS.WebParts.Validation.ValidationManager, LWAS"/>
                <component name="ExpressionsManager" type="LWAS.Expressions.ExpressionsManager, LWAS"/>
                <component name="Items" type="LWAS.WebParts.Templating.TemplatingItemsCollection, LWAS"/>
                <component name="FilterItems" type="LWAS.WebParts.Templating.TemplatingItemsCollection, LWAS"/>
                <component name="Translator" type="LWAS.Infrastructure.Translation.Translator, LWAS"/>
                <component name="Monitor" type="LWAS.Infrastructure.Monitoring.Monitor, LWAS"/>
            </providers>
        </component>
        <component name="LWAS.WebParts.ReportViewWebPart" type="LWAS.WebParts.ReportViewWebPart, LWAS">
            <providers>
                <component name="Configuration" setOnlyWhenNull="true" type="LWAS.WebParts.ContainerEmptyConfiguration, LWAS" member="ConfigurationProvider"/>
                <component name="ConfigurationParser" type="LWAS.WebParts.Parsers.ContainerConfigurationParser, LWAS"/>
                <component name="Binder" type="LWAS.WebParts.DataBinding.Binder, LWAS"/>
                <component name="Template" type="LWAS.WebParts.Templating.TemplatingProvider, LWAS"/>
                <component name="ValidationManager" type="LWAS.WebParts.Validation.ValidationManager, LWAS"/>
                <component name="ExpressionsManager" type="LWAS.Expressions.ExpressionsManager, LWAS"/>
                <component name="Items" type="LWAS.WebParts.Templating.TemplatingItemsCollection, LWAS"/>
                <component name="FilterItems" type="LWAS.WebParts.Templating.TemplatingItemsCollection, LWAS"/>
                <component name="Translator" type="LWAS.Infrastructure.Translation.Translator, LWAS"/>
                <component name="Monitor" type="LWAS.Infrastructure.Monitoring.Monitor, LWAS"/>
            </providers>
        </component>
        <component name="LWAS.WebParts.SelectorWebPart" type="LWAS.WebParts.SelectorWebPart, LWAS">
            <providers>
                <component name="Configuration" setOnlyWhenNull="true" type="LWAS.WebParts.SelectorEmptyConfiguration, LWAS" member="ConfigurationProvider"/>
                <component name="ConfigurationParser" type="LWAS.WebParts.Parsers.SelectorConfigurationParser, LWAS"/>
                <component name="Binder" type="LWAS.WebParts.DataBinding.Binder, LWAS"/>
                <component name="Translator" type="LWAS.Infrastructure.Translation.Translator, LWAS"/>
                <component name="Monitor" type="LWAS.Infrastructure.Monitoring.Monitor, LWAS"/>
            </providers>
        </component>
        <component name="LWAS.WebParts.DataSourceProviderWebPart" type="LWAS.WebParts.DataSourceProviderWebPart, LWAS">
            <providers>
                <component name="Configuration" setOnlyWhenNull="true" type="LWAS.WebParts.EmptyConfiguration, LWAS" member="ConfigurationProvider"/>
                <component name="ConfigurationParser" type="LWAS.WebParts.Parsers.ConfigurationParser, LWAS"/>
                <component name="Translator" type="LWAS.Infrastructure.Translation.Translator, LWAS"/>
            </providers>
        </component>
        <component name="LWAS.WebParts.XmlDataSourceWebPart" type="LWAS.WebParts.XmlDataSourceWebPart, LWAS">
          <providers>
            <component name="Configuration" setOnlyWhenNull="true" type="LWAS.WebParts.EmptyConfiguration, LWAS" member="ConfigurationProvider"/>
            <component name="ConfigurationParser" type="LWAS.WebParts.Parsers.ConfigurationParser, LWAS"/>
            <component name="Translator" type="LWAS.Infrastructure.Translation.Translator, LWAS"/>
            <component name="Agent" type="LWAS.Infrastructure.Storage.FileAgent, LWAS"/>
          </providers>
        </component>
        <component name="LWAS.WebParts.SqlDataSourceWebPart" type="LWAS.WebParts.SqlDataSourceWebPart, LWAS">
            <properties>
                <property name="DataSource.ConnectionString" value="Data Source=.\sqlexpress;Initial Catalog=;Integrated Security=True"/>
                <property name="DataSource.CancelSelectOnNullParameter" value="False"/>
            </properties>
            <providers>
                <component name="Configuration" setOnlyWhenNull="true" type="LWAS.WebParts.SqlDataSourceEmptyConfiguration, LWAS" member="ConfigurationProvider"/>
                <component name="ConfigurationParser" type="LWAS.WebParts.Parsers.SqlDataSourceConfigurationParser, LWAS"/>
                <component name="Translator" type="LWAS.Infrastructure.Translation.Translator, LWAS"/>
                <component name="Monitor" type="LWAS.Infrastructure.Monitoring.Monitor, LWAS"/>
            </providers>
        </component>
        <component isSingleton="true" name="LWAS.WebParts.SqlDataBridgeWebPart" type="LWAS.WebParts.SqlDataBridgeWebPart, LWAS">
            <providers>
                <component name="Configuration" setOnlyWhenNull="true" type="LWAS.WebParts.EmptyConfiguration, LWAS" member="ConfigurationProvider"/>
                <component name="ConfigurationParser" type="LWAS.WebParts.Parsers.SqlDataBridgeConfigurationParser, LWAS"/>
                <component name="Binder" type="LWAS.WebParts.DataBinding.Binder, LWAS"/>
                <component name="Translator" type="LWAS.Infrastructure.Translation.Translator, LWAS"/>
                <component name="Monitor" type="LWAS.Infrastructure.Monitoring.Monitor, LWAS"/>
                <component name="Agent" type="LWAS.Infrastructure.Storage.FileAgent, LWAS"/>
            </providers>
        </component>
        <component name="LWAS.WebParts.WorkFlowManagerWebPart" type="LWAS.WebParts.WorkFlowManagerWebPart, LWAS">
            <providers>
                <component name="Configuration" setOnlyWhenNull="true" type="LWAS.WebParts.EmptyConfiguration, LWAS" member="ConfigurationProvider"/>
                <component name="ConfigurationParser" type="LWAS.WebParts.Parsers.WorkFlowManagerConfigurationParser, LWAS"/>
                <component name="WorkFlows" type="LWAS.WorkFlow.WorkFlowsCollection, LWAS"/>
                <component name="StatePersistence" type="LWAS.WorkFlow.StatePersistence, LWAS"/>
                <component name="StatePersistence.Agent" type="LWAS.Infrastructure.Storage.UserDataAgent, LWAS"/>
                <component name="Monitor" type="LWAS.Infrastructure.Monitoring.Monitor, LWAS"/>
                <component name="ExpressionsManager" type="LWAS.Expressions.ExpressionsManager, LWAS"/>
                <component name="Translator" type="LWAS.Infrastructure.Translation.Translator, LWAS"/>
            </providers>
        </component>
        <component name="LWAS.WebParts.WrapperWebPart" type="LWAS.WebParts.WrapperWebPart, LWAS">
            <providers>
                <component name="Configuration" setOnlyWhenNull="true" type="LWAS.WebParts.EmptyConfiguration, LWAS" member="ConfigurationProvider"/>
                <component name="ConfigurationParser" type="LWAS.WebParts.Parsers.ConfigurationParser, LWAS"/>
                <component name="Binder" type="LWAS.WebParts.DataBinding.Binder, LWAS"/>
                <component name="Translator" type="LWAS.Infrastructure.Translation.Translator, LWAS"/>
            </providers>
        </component>
        <component name="LWAS.WebParts.Zones.SymbolWebPart" type="LWAS.WebParts.Zones.SymbolWebPart, LWAS">
            <providers>
                <component name="Configuration" setOnlyWhenNull="true" type="LWAS.WebParts.EmptyConfiguration, LWAS" member="ConfigurationProvider"/>
                <component name="ConfigurationParser" type="LWAS.WebParts.Parsers.ConfigurationParser, LWAS"/>
                <component name="Binder" type="LWAS.WebParts.DataBinding.Binder, LWAS"/>
                <component name="Translator" type="LWAS.Infrastructure.Translation.Translator, LWAS"/>
            </providers>
        </component>
        <component name="LWAS.WebParts.ContextWebPart" type="LWAS.WebParts.ContextWebPart, LWAS">
            <providers>
                <component name="Monitor" type="LWAS.Infrastructure.Monitoring.Monitor, LWAS"/>
            </providers>
        </component>
        <component name="LWAS.WebParts.Zones.TableZonePersonalizationProvider" type="LWAS.WebParts.Zones.TableZonePersonalizationProvider, LWAS">
            <providers>
                <component name="Configuration" setOnlyWhenNull="true" type="LWAS.WebParts.EmptyConfiguration, LWAS" member="ConfigurationProvider"/>
                <component name="ConfigurationParser" type="LWAS.WebParts.Parsers.ConfigurationParser, LWAS"/>
            </providers>
        </component>
        <component isSingleton="true" name="LWAS.Infrastructure.Monitoring.Monitor" type="LWAS.Infrastructure.Monitoring.Monitor, LWAS"/>
        <component name="LWAS.WebParts.Validation.ValidationManager" type="LWAS.WebParts.Validation.ValidationManager, LWAS">
          <providers>
            <component name="ExpressionsManager" type="LWAS.Expressions.ExpressionsManager, LWAS"/>
          </providers>
          <properties>
                <property name="Add">
                    <items>
                        <add name="LWAS.WebParts.Validation.Required" type="LWAS.WebParts.Validation.Required, LWAS"/>
                        <add name="LWAS.WebParts.Validation.Number" type="LWAS.WebParts.Validation.Number, LWAS"/>
                        <add name="LWAS.WebParts.Validation.Date" type="LWAS.WebParts.Validation.Date, LWAS"/>
                        <add name="LWAS.WebParts.Validation.ExpressionHandler" type="LWAS.WebParts.Validation.ExpressionHandler, LWAS"/>
                    </items>
                </property>
            </properties>
        </component>
        <component isSingleton="true" name="LWAS.Expressions.ExpressionsManager" type="LWAS.Expressions.ExpressionsManager, LWAS">
            <providers>
                <component name="Monitor" type="LWAS.Infrastructure.Monitoring.Monitor, LWAS"/>            
            </providers>
            <properties>
                <property name="Add">
                    <items>
                        <add name="LWAS.Expressions.When" type="LWAS.Expressions.When, LWAS"/>
                        <add name="LWAS.Expressions.BasicToken" type="LWAS.Expressions.BasicToken, LWAS"/>
                        <add name="LWAS.Expressions.Expression" type="LWAS.Expressions.Expression, LWAS"/>
                        <add name="LWAS.Expressions.Equals" type="LWAS.Expressions.Equals, LWAS"/>
                        <add name="LWAS.Expressions.NotEquals" type="LWAS.Expressions.NotEquals, LWAS"/>
                        <add name="LWAS.Expressions.Greater" type="LWAS.Expressions.Greater, LWAS"/>
                        <add name="LWAS.Expressions.Contains" type="LWAS.Expressions.Contains, LWAS"/>
                        <add name="LWAS.Expressions.NotContains" type="LWAS.Expressions.NotContains, LWAS"/>
                        <add name="LWAS.Expressions.Exists" type="LWAS.Expressions.Exists, LWAS"/>
                        <add name="LWAS.Expressions.NotExists" type="LWAS.Expressions.NotExists, LWAS"/>
                        <add name="LWAS.Expressions.Any" type="LWAS.Expressions.Any, LWAS"/>
                        <add name="LWAS.Expressions.All" type="LWAS.Expressions.All, LWAS"/>
                        <add name="LWAS.Expressions.Less" type="LWAS.Expressions.Less, LWAS"/>

                        <add name="LWAS.Database.Expressions.Function" type="LWAS.Database.Expressions.Function, LWAS"/>                      
                        <add name="LWAS.Database.Expressions.Eval" type="LWAS.Database.Expressions.Eval, LWAS"/>
                        <add name="LWAS.Database.Expressions.Add" type="LWAS.Database.Expressions.Add, LWAS"/>
                        <add name="LWAS.Database.Expressions.Subtract" type="LWAS.Database.Expressions.Subtract, LWAS"/>
                        <add name="LWAS.Database.Expressions.Divide" type="LWAS.Database.Expressions.Divide, LWAS"/>
                        <add name="LWAS.Database.Expressions.Multiply" type="LWAS.Database.Expressions.Multiply, LWAS"/>
                        <add name="LWAS.Database.Expressions.Concatenate" type="LWAS.Database.Expressions.Concatenate, LWAS"/>
                        <add name="LWAS.Database.Expressions.WholeNumber" type="LWAS.Database.Expressions.WholeNumber, LWAS"/>
                        <add name="LWAS.Database.Expressions.Aggregate.Sum" type="LWAS.Database.Expressions.Aggregate.Sum, LWAS"/>
                        <add name="LWAS.Database.Expressions.Aggregate.Min" type="LWAS.Database.Expressions.Aggregate.Min, LWAS"/>
                        <add name="LWAS.Database.Expressions.Aggregate.Max" type="LWAS.Database.Expressions.Aggregate.Max, LWAS"/>
                        <add name="LWAS.Database.Expressions.Aggregate.Distinct" type="LWAS.Database.Expressions.Aggregate.Distinct, LWAS"/>
                        <add name="LWAS.Database.Expressions.Aggregate.Count" type="LWAS.Database.Expressions.Aggregate.Count, LWAS"/>
                        <add name="LWAS.Expressions.DatePart" type="LWAS.Expressions.DatePart, LWAS"/>
                        <add name="LWAS.Expressions.DatePartToken" type="LWAS.Expressions.DatePartToken, LWAS"/>
						
                        <add name="LWAS.Database.FieldToken" type="LWAS.Database.FieldToken, LWAS"/>
                        <add name="LWAS.Database.TableFieldToken" type="LWAS.Database.TableFieldToken, LWAS"/>
                        <add name="LWAS.Database.ViewToken" type="LWAS.Database.ViewToken, LWAS"/>
                        <add name="LWAS.Database.ParameterToken" type="LWAS.Database.ParameterToken, LWAS"/>
                    </items>
                </property>
            </properties>
        </component>
        <component isSingleton="true" name="LWAS.Infrastructure.Translation.Translator" type="LWAS.Infrastructure.Translation.Translator, LWAS">
            <providers>
                <component name="Storage.Agent" type="LWAS.Infrastructure.Storage.FileAgent, LWAS"/>
            </providers>
            <properties>
                <property name="DefaultLanguage" value="en-GB"/>
                <property name="Storage.FilePath" value="~/App_Data/config/translation.xml"/>
                <property name="Storage.ParamsSeparator" value="|"/>
            </properties>
        </component>
        <component isSingleton="true" name="LWAS.WebParts.ViewsWebPart" type="LWAS.WebParts.ViewsWebPart, LWAS">
          <providers>
            <component name="ExpressionsManager" type="LWAS.Expressions.ExpressionsManager, LWAS"/>
            <component name="RoutingManager" type="LWAS.Infrastructure.Routing.RoutingManager, LWAS"/>
            <component name="Agent" type="LWAS.Infrastructure.Storage.FileAgent, LWAS"/>
          </providers>
        </component>

      <component isSingleton="true" name="LWAS.Infrastructure.Routing.RoutingManager" type="LWAS.Infrastructure.Routing.RoutingManager, LWAS">
        <properties>
          <property name="Add">
            <items>
              <add name="LWAS.Infrastructure.Routing.Web.WebSettingsAgent" type="LWAS.Infrastructure.Routing.Web.WebSettingsAgent, LWAS"/>
              <add name="LWAS.Infrastructure.Routing.Screens.ScreensRoutingAgent" type="LWAS.Infrastructure.Routing.Screens.ScreensRoutingAgent, LWAS"/>
            </items>
          </property>
        </properties>
      </component>


      <component name="LWAS.WebParts.ContainerEmptyConfiguration" type="LWAS.WebParts.GridViewEmptyConfiguration, LWAS">
            <providers>
                <component name="ConfigurationProvider" type="LWAS.Infrastructure.Configuration.Configuration, LWAS"/>
            </providers>
        </component>
        <component name="LWAS.WebParts.SelectorEmptyConfiguration" type="LWAS.WebParts.SelectorEmptyConfiguration, LWAS">
            <providers>
                <component name="ConfigurationProvider" type="LWAS.Infrastructure.Configuration.Configuration, LWAS"/>
            </providers>
        </component>
        <component name="LWAS.WebParts.SqlDataSourceEmptyConfiguration" type="LWAS.WebParts.SqlDataSourceEmptyConfiguration, LWAS">
            <providers>
                <component name="ConfigurationProvider" type="LWAS.Infrastructure.Configuration.Configuration, LWAS"/>
            </providers>
        </component>
        <component name="LWAS.WebParts.EmptyConfiguration" type="LWAS.WebParts.EmptyConfiguration, LWAS">
            <providers>
                <component name="ConfigurationProvider" type="LWAS.Infrastructure.Configuration.Configuration, LWAS"/>
            </providers>
        </component>
    </components>
</InitializerSection>
