/*
 * Copyrigt 2013 Tiberiu Craciun, tiberiu.craciun@gmail.com
 * All rights reserved
*/

/* general rules */
html, body
{
	height: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	/*overflow: hidden;  */
	font-family: arial, sans-serif;
    font-size: 90%;
    background-color:#ffffff;
}
a
{
    color: #0066cc;
    text-decoration: underline;
}
a:hover
{
    color: #0066cc;
    text-decoration: none;
}
a:visited
{
    color: #0066cc;
    text-decoration: underline;
}
input, select, textarea /* for DropDown check .dropDown_enabled bellow */
{
    border: 1px solid #353534;
    background-color: #ffffff;
    color: #000;
    padding: 2px 5px 2px 5px;   
}
input[readonly], select[disabled], textarea[readonly] /* for DropDown check .dropDown_disabled bellow */
{
    border: 1px solid #e6e6e6;
    background-color: transparent !important;
    color: inherit;
    
}
input[type="checkbox"]
{
    border: none;
}
input[type="button"], input[type="button"][disabled]
{
    border: 1px solid #e6e6e6;
    background-color: #ffffcc;
	padding: 2px 5px 2px 5px;
}
input[type="button"][disabled]
{
    border: 1px solid #e6e6e6;
    background-color: #ffffcc !Important;
	padding: 2px 5px 2px 5px;
	color: Gray !Important;
}
input[type="button"]:hover, input[type="button"]:active, input[type="button"]:focus
{
    background-color: #D1480E;
    color: White;
}
div
{
	margin: 0;
}
table
{
	border: 0;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
td
{
	margin: 0;
	padding: 2px 2px 2px 2px;
}
span.wide
{
	line-height: 30px;
}
span.center
{
	text-align: center;
	vertical-align: middle;
}

/* login rules */
div#loginPanel
{
  width: 1000px ;
  margin-left: auto ;
  margin-right: auto ;
}
div#loginPanel > div
{
    float: left;
}

/* master page rules */
div#screen
{
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
}
div#head
{
    width:100%;
    height: 40px;
    background-color:#4d90fe;
    color: white;
}
div#mainlinknprogress
{
    width:15%;
    min-width:150px;
    float:left;
    padding-top: 10px;
}
div#mainlink
{
    float:left;
    padding-left: 5px;
}
div#mainlink a
{
    color: white;
}
div#progress
{
    float:right;
}
div#title
{
    width:65%;
    min-width:500px;
    float:left;    
    text-align:center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
}
div#menu
{
    width:15%;
    min-width:150px;
    float:right;
    overflow:hidden;
    padding-top: 10px;
}
div#content
{
    /*width: 900px;*/
    margin-left: auto;
    margin-right: auto;
}

/* masked calendar rules */
.masked_calendar_date
{
    width: 11ch;
}
.masked_calendar_time
{
    width: 6ch;
}

/* monitor info rules */
.mie
{
}
.mie_message
{
    color: Green;
}
.mie_error
{
    color: Red;
}
.mie_error ul
{
    list-style-type: none;
}
.mie_message_title
{
    display: block;
}
.mie_error_title
{
}
.mie_translation_menu
{
    color: White;
	background-color: #507CD1;
	margin: 2px;
	padding: 10px;
}
.mie_translation_menu a
{
    color: White;
}

/*app menu rules*/
.usermenu_table
{
    margin-top: 20px;
	background-color: #4d90fe;
}
.usermenu_table a
{
    display: block;
    padding: 5px 5px 5px 5px;
}
.usermenu_table a:hover
{
    background-color: #fff;
    color: #507CD1 !important;
}
.menuContainer
{
	border: solid 1px #e6e6e6;
	height: 410px;
}
.menuContainer ul 
{
	list-style-position: outside;
	list-style-image: url(images/expandmenu.gif);
	list-style-type: none;
}
.menuContainer ul li
{
	padding: 5px 0px 5px 0px;
	
}
.mapMenu
{
	float: left;
	margin-right: 10px;
}
.bottomMenuContainer
{
	background-color: rgb(230, 230, 230);
	margin-top: 5px;
	padding-left: 10px;
	border: solid 1px #e6e6e6;
	height: 160px;
}
.miscMenu
{
	float: left;
	margin: 0px 10px 0px 10px;
	list-style-position: outside;
	list-style-image: url(images/expandmenu.gif);
	list-style-type: none;

}
.miscMenu li
{
	padding: 5px 0px 5px 0px;
}
.mainMenuHead
{
	background-color: #4d90fe;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	color: white;
	float: left;
	width: 100px;
}
.mainMenu
{
	list-style: none;
	background-color: #4d90fe;
	margin-top: 2px;
	margin: 0;
	padding: 0;
	padding-top: 5px;
}
.mainMenu ul
{
	list-style-position: outside;
	list-style-image: url(images/expandmenu.gif);
	list-style-type: none;
}
.mainMenu li
{
	padding: 5px 10px 5px 10px;
}
.mainMenu a
{
	color: white;
    display: block;
    padding: 5px 5px 5px 5px;
}
.mainMenu a:hover
{
    background-color: #fff;
    color: #507CD1 !important;
}

/*calendar class rules*/
.calendar_linksPanel
{
    min-width: 200px;
    float: left;
}
.calendar_activitate
{
    background-color: #fbe047;
    margin-top: 1px;
    border: 1px solid #000;
}
.calendar_incasare
{
    background-color: #A4E35B;
    padding: 2px 2px 2px 2px;
    margin: 1px 1px 1px 1px;
    color: #000;
    border: 1px solid #000;
}
.calendar_plata
{
    background-color: #D1480E;
    padding: 2px 2px 2px 2px;
    margin: 1px 1px 1px 1px;
    color: #fff;
    border: 1px solid #000;
}
.calendar_activitate a,
.calendar_incasare a
{
    color: #000;
    text-decoration: none;
}
.calendar_plata a
{
    color: #fff;
    text-decoration: none;
}

.calendar_activitate_eu
{
    background-color: #fbe047;
    margin-top: 1px;
}
.calendar_activitate_eu a
{
    color: #000;
    text-decoration: none;
}
.calendar_activitate_intarziere
{
    padding-left: 5px;
    padding-right: 1px;
    background-color: Red;
    color: White;    
    margin-top: 1px;
}
.suma
{
    float: right;
    text-decoration: inherit;
	margin-left: 10px;
}
.taiat,
.taiat input
{
    text-decoration: line-through !important;
}

.oferta
{
	display: inline-block;
	padding: 5px 5px 5px 5px;
}
.oferta.incasata,
.oferta.platita
{
	background-color: Lime;
	color: #000;
}
.oferta.neincasata,
.oferta.neplatita
{
	background-color: Red;
	color: #fff;
}
.oferta.incasata.partial,
.oferta.platita.partial
{
	background-color: Yellow;
	color: #000;
}

.calendar-intrare-activa
{
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
}
.calendar-intrare-activa a
{
    color: #000;
}

.optiuni_menu
{
    background-color: transparent !important;
	margin: 0px 1px 0px 1px;
	padding: 5px 20px 5px 5px;
}
.optiuni_container
{
    border: 1px solid #000;
    background-color: #fff; 
}
.optiuni_container ul
{
    list-style-type: none;
    background-color: #fff;
    margin-left: 0px;
    padding: 0px 5px 0px 5px;
}
.optiuni_container ul li
{
    padding-bottom: 5px;
}

/* paginater rules */
.paginater_first
{
    width: 16px;
    height: 17px;
    border: none;
    background-image: url('images/first.jpg');
}
.paginater_last
{
    width: 16px;
    height: 17px;
    border: none;
    background-image: url('images/last.jpg');
}
.paginater_left
{
    width: 16px;
    height: 17px;
    border: none;
    background-image: url('images/left.jpg');
}
.paginater_right
{
    width: 16px;
    height: 17px;
    border: none;
    background-image: url('images/right.jpg');
}

/* miscellaneous class rules */
.clearfix::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.userMenuCurrent
{
    text-align: center;
}
.hidden
{
	display: none;
}
.dropDown_enabled
{    
    border: 1px solid #353534;
    background-color: #ffffff;
    color: #000;
    
}
.dropDown_disabled
{    
    border: 1px solid #e6e6e6;
    background-color: #f7f7f7;
    color: #000;
    
}
.linkButton_readonly
{
    text-decoration: underline;
}

.underline
{
	border-style: none none solid none;
	border-width: 1px;
	border-color: white;
}

/* selector rules */
.selector_modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}
.selector_modalPopup {
	background-color:White;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width: 650px;
	height: 400px;
}
.selector_title
{
	width: 100%;
	height: 20px;
	font-size: 14px;
	text-align: center;
	background-color: #4d90fe;
	color: White;
	display: block;
}
.selector_searchpanel
{
    width: 650px;
	height: 350px;
	overflow: auto;
}
.selector_criteriaPanel
{
    float: left;
}
.selector_criteria
{
	width: 555px;
}
.selector_searchButtonPanel
{
    margin-right: 2px;
}
.selector_searchButtonPanel input
{
    width: 70px;
    height: 40px;
	background-color: #D1480E;
	color: #fff;
}
.selector_results
{
	float: left;
}
.selector_results div table
{
}
.selector_buttonspanel
{
	padding-top: 10px;
}
.selector_buttonspanel input
{
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
    border: 1px solid #e6e6e6;
	background-color: #4d90fe;
	color: #fff;
	width: 70px;
	height: 30px;
}

/* popup rules */
.popup_modalBackground
{
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}
.popup_modalPopup
{
	background-color:White;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width: 650px;
	height: 400px;
}
.popup_topTable
{
}
.popup_OKButton
{
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	background-color: #ffffaa;
	width: 70px;
	height: 30px;
}
.popup_CancelButton
{
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	background-color: #ffffaa;
	width: 70px;
	height: 30px;
}
.popup_text
{
    width: 550px;
    height: 250px;
}

/* zone extender rules */
.normal
{
    border: solid 3px white;
}
.highlight
{
    border: solid 3px red;
}
.active
{
    border: solid 3px green;
}
.tableLabel
{
    position:relative;
    display: block;
    background-color: Purple;
    width: 30px;
    height: 15px;
    cursor: pointer;
}
.rowLabel
{
    position:relative;
    display: block;
    background-color: Lime;
    width: 15px;
    height: 30px;
    margin: 1px 1px 1px 1px;
    cursor: pointer;
}
.cellLabel
{
    position:relative;
    display: block;
    background-color: Orange;
    width: 30px;
    height: 15px;
    cursor: pointer;
}
.cell
{
    vertical-align: top;
    cursor: crosshair;
}
.newRowLabel
{
    position:relative;
    display: block;
    background-color: Lime;
    width: 15px;
    height: 30px;
    margin: 1px 1px 1px 1px;
    cursor: pointer;
    filter: Alpha(Opacity=100, FinishOpacity=0, Style=1, StartX=0, StartY=0, FinishX=580, FinishY=0);
}
.newCellLabel
{
    position:relative;
    display: block;
    background-color: Orange;
    width: 30px;
    height: 15px;
    cursor: pointer;
    filter: Alpha(Opacity=100, FinishOpacity=0, Style=1, StartX=0, StartY=0, FinishX=580, FinishY=0);
}

/* tabzone rules */
.tabzone_tabcontainer
{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.tabzone_tabhead
{
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
	border: solid 1px #e6e6e6;
}
.tabzone_inactivetab
{
    display: none;
}

/* popupzone rules */
/* the overlayed element */
.popupzone_part {
 
    /* must be initially hidden */
    display:none;
 
    /* place overlay on top of other elements */
    z-index:10000;
 
    /* styling */
    background-color:lightgray;
    border: 5px solid #4d90fe;
    
    /* IE shadow */
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=0,strength=5);
 
    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}
 
/* close button positioned on upper right corner */
.popupzone_part .close {
    background-image:url(/App_Themes/Default/images/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}
.popup_shown
{
    display: block;
}
.popup_hidden
{
    display: none;
}

/* parts theme rules */
.part_title
{
    padding: 5px 5px 5px 5px;
    vertical-align: middle;
}
/* menu rules */
.menu
{
}
.menu_label
{
	background-color: #4d90fe;
	display:block;
	margin: 0px 1px 0px 1px;
	padding: 5px 20px 5px 5px;
	/* width: 60px; */
	color: white;
}
.menu_label_wrapper .menu_link
{
    color: White;
}
.menu_link
{
	background-color: #4d90fe;
	display:block;
	margin: 0px 1px 0px 1px;
	padding: 5px 5px 5px 5px
}

.menu_commands
{
	list-style: none;
	background-color: #4d90fe;
	margin-top: 2px;
	margin: 0;
	padding: 0;
	padding-top: 5px;
}
.menu_commands ul
{
	list-style-position: outside;
	list-style-image: url(images/expandmenu.gif);
	list-style-type: none;
}
.menu_commands li
{
    padding: 0px 15px 0px 15px;
}
.menu_commands a
{
    display: block;
    padding: 5px 5px 5px 5px;
 	color: white;
}
.menu_commands a:hover
{
    background-color: #fff;
    color: #507CD1 !important;
}

/* breadcrumb rules */
.breadcrumb_container
{
}
.breadcrumb_separator
{
    float: left;
    line-height: 20px;
}
.breadcrumb_container .menu
{
    float: left;
}
.breadcrumb_container .menu .menu_link
{
	margin: 2px 2px 2px 2px;
	padding: 5px 25px 5px 5px;
	width: auto !important;
}
.breadcrumb_container .menu a
{
    white-space: nowrap;
}

